body{
    background: #FFD369;
}
.fs-4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #222831;
}
h1{
    font-family: 'Montserrat', sans-serif;
    filter: drop-shadow(5px 15px 15px #393E46);
    color: #222831;
    background-image: linear-gradient(
        -225deg,
        #EEEEEE 0%,
        #393E46 29%,
        #393E46 67%,
        #EEEEEE 100%
      );
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 10s linear infinite;
}
@keyframes textclip {
    to {
    background-position: 200% center;
    }
}
h2{
    color: #222831;
}
@media (max-width: 4000px) {
    .display {
        font-size: 8rem;
        border-color: transparent;
    }
}
@media (max-width: 600px) {
    .display {
        font-size: 100px;
    }
}
.nav-link{
    color: #393E46;
    font-size: small;
}
.nav-link:hover{
    color: #EEEEEE;
}
.dropdown-menu{
    background-color: #EEEEEE;
}
.slogan{
    color: #393E46;
}
#about{
    background-color: #EEEEEE;
}
.card{
    background-color: #393E46;
    filter: drop-shadow(5px 5px 5px #222831);
    border-color: #EEEEEE50;
    border-width: 1px;
}
#pricing{
    background-color: #EEEEEE;
}
.pricing-card{
    background-color: #EEEEEE;
    border-color: #393E46;
    border-width: 1px;
}
.plan{
    color: #8b8f94;;
}
.fixed-top{
    background: #FFD369;
}
@media only screen and (min-width: 900px) {
    #hero {
      margin-top: 180px;
    }
}
.CTA{
    background-color: #393E46;
    border-color: #FFD369;
    color: #FFD369;
    font-weight: 400;
    filter: drop-shadow(1px 2px 2px #393E46);
}
.CTA:hover{
    background-color: #FFD369;
    border-color: #222831;
    color: #222831;
}
.CTA2{
    background-color: #FFD369;
    border-color: #FFD369;
    color: #222831;
    font-weight: 400;
    filter: drop-shadow(1px 1px 1px #222831);
}
.CTA2:hover{
    background-color: #393E46;
    border-color: #FFD369;
    color: #EEEEEE;
}
.CTA3{
    background-color: #FFD369;
    border-color: #393E46;
    color: #393E46;
    font-weight: 400;
    filter: drop-shadow(1px 2px 2px #393E46);
}
.CTA3:hover{
    background-color: #393E46;
    border-color: #393E46;
    color: #FFD369;
}
.CTA4{
    background-color: #FFD369;
    border-color: #393E46;
    color: #393E46;
    font-weight: 400;
    filter: drop-shadow(1px 2px 2px #393E46);
}
.CTA4:hover{
    background-color: #393E46;
    border-color: #393E46;
    color: #FFD369;
}
.ctaExemple{
    background-color: #EEEEEE;
    border-color: #393E46;
    color: #393E46;
    font-weight: 400;
}
.ctaExemple:hover{
    background-color: #393E4650;
    border-color: #393E46;
}
.ctaForfaits:hover {
    background-color: #03C988;
    border-color: #222831;
    color: #222831;
}
.ctaDebutant{
    background-color: #FFFFFF;
    border-color: #222831;
    color: #222831;
    font-weight: 400;
    filter: drop-shadow(1px 1px 1px #393E46);
}
.ctaPro{
    background-color: #E5CEC1;
    border-color: #222831;
    color: #222831;
    font-weight: 400;
    filter: drop-shadow(1px 1px 1px #393E46);
}
.ctaExpert{
    background-color: rgb(180, 178, 178);
    border-color: #222831;
    color: #222831;
    font-weight: 400;
    filter: drop-shadow(1px 1px 1px #393E46);
}
.ctaPlatinum{
    background-color: #FFD369;
    border-color: #222831;
    color: #222831;
    font-weight: 400;
    filter: drop-shadow(1px 1px 1px #393E46);
}
#contact{
    background-color: #EEEEEE;
}
#myCarousel1 {
    max-height: 300px;
    max-width: 100%;
    overflow:hidden
}
#myCarousel {
    max-height: 600px;
    max-width: 100%;
    overflow:hidden
}
.logo{
    filter: drop-shadow(2px 5px 5px #393E46);
}

.accordion-button:not(.collapsed) {
    background-color: #EEEEEE !important;
}
.accordion-button:link, .accordion-button:visited, .accordion-button:hover, .accordion-button:active  {
    background-color: #393E46 !important;
    color:#ffffff !important;
    text-decoration: none !important;
    border: #222831 !important;
    border-color: #222831 !important;
    box-shadow: 0px !important;
}
.accordion-button:focus {
    z-index: 3;
    border-color: #EEEEEE !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #FFF !important;
}